
A:link{
	text-decoration: none;
	color : black;
}
A:hover{
	text-decoration: none;
	color : black;
}

#TotalCategoryResult_Box{
	width: 1000px;
	height: 250px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	text-align: center;
	font-size: 12px;
}

.CategoryResult_oneItemBox{
	float: left;
	display: inline;
	padding-right: 30px;
	padding-bottom : 30px;
}

.CategoryResultImgSize{
	width: 200px;
	height : 250px;
	padding-bottom:10px;
}